{% extends "template.html" %}
{% block content %}
{% include "navigation.html" %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="dash-unit">
                        <div class="panel panel-primary">
                                        <div class="panel-heading">Profile</div>
                                                <ul class="list-group" >
                                                        <! -- for shed ,v in schedule.iteritems() -->
									{{ session['email'] }}
									{{ session['firstname'] }}
									{{ session['lastname'] }}

                                                </ul>
                                        </div>
                        </div>
                </div>
        </div>
{% endblock %}
