{% extends "layout.html" %}
{% block body %}

</div>
<!-- Node BLOCK -->
<div class="col-lg-3 col-md-6 col-sm-8 col-xs-12">
 <div class="dash-unit">
<div class="panel panel-primary">
        <div class="panel-heading header">Nodes
</div>
<div class="panel-body">
<ul class="list-group">

  {% for entry in nodes %}
<form method="post" action="/del/device">
<div class="form-group"> 
<input type="hidden" name="node" class="form-control input-sm" value="{{ entry.name }}">
<li class="list-group-item">{{ entry.name }}
<label for="dsubmit" class="btn"><i class="glyphicon glyphicon-trash"></i></label>
    <input id="dsubmit" type="submit" value="Del" class="hidden" />
</li>
</div>
</form>
 
 {% else %}
 <li class="list-group-item"><em>No nodes added yet</em></li>
 {% endfor %}
</ul>

<form class="" method="post" action="/add/device">
<p>Add Node</p>
    <div class="form-group">
<input type="text" name="node" class="form-control input-sm" placeholder="Name/IP">
</div>
    <div class="form-group">
        <input type="text" name="key" class="form-control input-sm" placeholder="Key">
    </div>
    <div class="form-group">
<input type=submit class="btn btn-primary btn-sm btn-block" value="Add">
        </div>
</form>

</div>
</div>
</div>
</div>
<!-- End Block-->


<!-- Node BLOCK -->
<div class="col-lg-3 col-md-6 col-sm-8 col-xs-12">
 <div class="dash-unit">
<div class="panel panel-primary">
        <div class="panel-heading header">Kodi
</div>
<div class="panel-body">
<ul class="list-group">

  {% for entry in kodi %}

<form method="post" action="/del/kodi">
<div class="form-group">
<input type="hidden" name="name" class="form-control input-sm" value="{{ entry.name }}">
<li class="list-group-item">{{ entry.name }}:{{ entry.port }}
<label for="ksubmit" class="btn"><i class="glyphicon glyphicon-trash"></i></label>
    <input id="ksubmit" type="submit" value="Del" class="hidden" />
</li>

  {% else %}
 <li class="list-group-item"><em>No server added yet</em></li>
 {% endfor %}
</ul>

<form class="" method="post" action="/add/kodi">
<p>Add Server</p>
    <div class="form-group">
<input type="text" name="name" class="form-control input-sm" placeholder="Name/IP">
</div>
<div class="form-group">
<input type="text" name="port" class="form-control input-sm" placeholder="port">
</div>
    <div class="form-group">
<input type=submit class="btn btn-primary btn-sm btn-block" value="Add">
        </div>
</form>

</div>
</div>
</div>
</div>
<!-- End Block-->



<!-- Node BLOCK -->
<div class="col-lg-3 col-md-6 col-sm-8 col-xs-12">
 <div class="dash-unit">
<div class="panel panel-primary">
        <div class="panel-heading header">Zoneminder
</div>
<div class="panel-body">
<ul class="list-group">

  {% for entry in zoneminder %}
<form method="post" action="/del/zoneminder">
<div class="form-group">
<input type="hidden" name="name" class="form-control input-sm" value="{{ entry.name }}">
<li class="list-group-item">{{ entry.name }}:{{ entry.port }} {{ entry.url }}
<label for="zsubmit" class="btn"><i class="glyphicon glyphicon-trash"></i></label>
    <input id="zsubmit" type="submit" value="Del" class="hidden" />
</li>

  {% else %}
 <li class="list-group-item"><em>No server added yet</em></li>
 {% endfor %}
</ul>

<form class="" method="post" action="/add/zoneminder">
<p>Add Server</p>
    <div class="form-group">
<input type="text" name="name" class="form-control input-sm" placeholder="Name/IP">
</div>
<div class="form-group">
<input type="text" name="url" class="form-control input-sm" placeholder="url of api">
</div>
<div class="form-group">
<input type="text" name="port" class="form-control input-sm" placeholder="port">
</div>
    <div class="form-group">
<input type=submit class="btn btn-primary btn-sm btn-block" value="Add">
        </div>
</form>

</div>
</div>
</div>
</div>
<!-- End Block-->





</div>

{% endblock %}

